.texto{
    position: absolute;
    text-align: center;
    top: 40%;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
   
}
.texto h3{ color: white; font-size: 45px;}
.btnReservar {
    background-color: #57b846;
    border-style: solid;
    border-width: 2px !important; 
    color: white !important;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    height: 45px;
    margin-top: 10px;
    padding: .5rem 3rem;
    font-size: 1.45rem;
    line-height: 1.5;
    border-radius: 25px;
    max-width: 90%;
  }
  
  .btnReservar:hover {
    border-color:#57b846;
    background-color: transparent;
    color: #57b846 !important;
    text-decoration: none;
    cursor:pointer;
  }