.container{
    padding-top: 30px;
    max-width: 100%;
    align-content: center
}

.bloque{
    width: 100%;
    align-content: center;
    text-align: center
}
.ruta{
    font-family: cursive;
    font-size: 25px;
    padding-top: 10px;
}
.imgBus{
    max-width: 90%;
}
.btnReservar {
    background-color: #57b846;
    border-style: solid;
    border-width: 2px !important; 
    color: white !important;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    height: 45px;
    margin-top: 10px;
    padding: .5rem 3rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 25px;
    max-width: 90%;
  }
  
  .btnReservar:hover {
    border-color:#57b846;
    background-color: transparent;
    color: #57b846 !important;
    text-decoration: none;
    cursor:pointer;
  }
  .container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #ebeeef;
  }
  .wrap-login100 {
    background: #fff;
    border-radius: 10px;
    padding: 80px 10px;
    margin: 10px;
  }