.limiter {
    width: 100%;
    margin: 0 auto;
    align-content: center
  }
  
.container-login100 {
  width: 100%;  
  min-height: 95vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #ebeeef;
}  
.datos{
    text-align: center;
    background: whitesmoke;
    margin: 50px 5px;
    border-radius: 10px;
    padding: 10px;
}

.btnReservar {
    background-color: #57b846;
    border-style: solid;
    border-width: 2px !important; 
    color: white !important;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    height: 45px;
    margin-top: 10px;
    padding: .5rem 3rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 25px;
    max-width: 90%;
  }
  
.btnReservar:hover {
    border-color:#57b846;
    background-color: transparent;
    color: #57b846 !important;
    text-decoration: none;
    cursor:pointer;
}

.btnFinalizar {
    border-color:#57b846;
    border-style: solid;
    background: white;
    border-width: 2px !important; 
    color: #57b846 !important;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    height: 45px;
    margin-top: 10px;
    padding: .5rem 3rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 25px;
    max-width: 90%;
  }
  
.btnFinalizar:hover {
    background-color: #57b846;
    color: white !important;
    text-decoration: none;
    cursor:pointer;
}

.error{
    color:red;
    font-style: italic;
    margin-bottom: 10px;
}

.ocupados{
  border: #57b846 solid 1px;
}